{% extends 'base.html.twig' %}

{% block title %}
    PROCOST - Job
{% endblock %}

{% block job %}
    <li class="sub-menu">
        <a class="active" href="{{ path('job') }}">
            <i class="fa fa-book"></i>
            <span>Les métiers</span>
        </a>
    </li>
{% endblock %}

{% block body %}
    <section class="wrapper">

        <h3><i class="fa fa-angle-right"></i> Gestion des métiers</h3>
        <a class="btn btn-success btn-sm pull-right" href="{{ path('job_edit') }}">Ajouter un métier</a>


        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 main-chart">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Dénomination</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody>

                        {% if jobs is defined %}
                            {% for job in jobs %}
                                <tr>
                                    <th>{{ job.name }}</th>
                                    <th>
                                        <a href="#" class="btn btn-success btn-xs">
                                            <i class="fa fa-clock-o"></i>
                                        </a>
                                        <a href="#" class="btn btn-primary btn-xs">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <a href="#" class="btn btn-danger btn-xs">
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                    </th>
                                </tr>
                            {% endfor %}
                        {% endif %}

                    </tbody>
                </table>
            </div>
            <div class="col-md-2 col-sm-2 col-md-offset-5">
                <div class="pagination">
                    <a href="#">
                        <span class="badge bg-default">
                            <i class="fa fa-chevron-left"></i>
                        </span>
                    </a>
                    <a href="#"><span class="badge bg-theme">1</span></a>
                    <a href="#"><span class="badge bg-default">2</span></a>
                    <a href="#"><span class="badge bg-default">3</span></a>
                    <a href="#"><span class="badge bg-default">4</span></a>
                    <a href="#"><span class="badge bg-default">5</span></a>
                    <a href="#">
                        <span class="badge bg-default">
                            <i class="fa fa-chevron-right"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <!--/row -->
    </section>
{% endblock %}