{% extends 'base.html.twig' %}

{% block title %}
    PROCOST - Ajout d'un métier
{% endblock %}

{% block job %}
    <li class="sub-menu">
        <a class="active" href="{{ path('job') }}">
            <i class="fa fa-book"></i>
            <span>Les métiers</span>
        </a>
    </li>
{% endblock %}

{% block body %}
    <section class="wrapper">

        <h3><i class="fa fa-angle-right"></i> Ajout d'un métier</h3>

        <div class="form-panel">
            {{ form(form) }}
        </div>

    </section>
{% endblock %}