{# app/Resources/TwigBundle/views/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
    PROCOST - Erreur 404
{% endblock %}

{% block body %}
    <section class="wrapper">
        <h1>Vous êtes perdu !</h1>

        <h3>Retournez à la <a href="{{ path("dashboard") }}">page d'accueil</a> ;)</h3>
    </section>
{% endblock %}