{# app/Resources/views/employee/employee_new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
    PROCOST - Ajout d'un employée
{% endblock %}

{% block employee %}
    <li class="sub-menu">
        <a class="active" href="{{ path('employee') }}">
            <i class="fa fa-users"></i>
            <span>Les employés</span>
        </a>
    </li>
{% endblock %}

{% block body %}
    <section class="wrapper">

        <h3><i class="fa fa-angle-right"></i> Ajout d'un employé</h3>

        <div class="form-panel">
            {{ form(form) }}
        </div>
        <!--/row -->
    </section>
{% endblock %}