{# app/Resources/views/project/project_new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
    PROCOST - Ajout d'un projet
{% endblock %}

{% block project %}
    <li class="sub-menu">
        <a class="active" href="{{ path('project') }}">
            <i class="fa fa-desktop"></i>
            <span>Les projets</span>
        </a>
    </li>
{% endblock %}

{% block body %}
    <section class="wrapper">

        <h3><i class="fa fa-angle-right"></i> Ajout d'un projet</h3>

        <div class="form-panel">
            {{ form(form) }}
        </div>

    </section>
{% endblock %}